<div class="">
    <div class="canvas">
      <h1 style="text-align: center;">Student DashBoard</h1>
      <div class="cen" style="text-align: center;">
        <label for="name">Name:</label>
      <input [(ngModel)]="name" type="text" name="" id="name"><br/><br>
      <label for="grade">Grade:</label>
      <input [(ngModel)]="grade" type="text" name="" id="grade"><br/><br>
      <button (click)="addStudent()" style="width: 50%;">Add</button>
      </div>
      <div class="display">
        <h2>Students Log</h2>
        <ul>
          <li *ngFor="let i of students" [ngStyle]="{'color': i.grade === 'A' ? 'green' : i.grade === 'B' ? 'orange' : 'red'}">
            {{i.name}} - Grade: {{i.grade}} <span [ngStyle]="{'color': i.grade === 'A' ? 'green' : i.grade === 'B' ? 'orange' : 'red'}" [ngStyle]="{'background': i.grade === 'A' ? 'green' : i.grade === 'B' ? 'orange' : 'red'}">A</span>
          </li>
        </ul>
      </div>
    </div>
    <router-outlet></router-outlet>
</div>